* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  display: flex;
  width: 100%;
  min-height: 4em;
  align-items: center;
  background-color: #ffffff;
}

.container-header {
  padding: 0 2em;
  padding-top: 1em;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.logo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  width: max-content;
}

.logo-header img {
  height: auto;
}

.input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 36em;
  height: 3.2em;
  border-radius: 10px;
  border: none;
  padding: 2px 13px;
  background-color: #f8f8f8;
}

input:focus {
  border: 1px solid black;
}

.pi-search {
  color: #474747;
  position: absolute;
  right: 8px;
  font-size: 15px;
  cursor: pointer;
}

/* .login {
  width: 10%;
  height: 10%;
  font-size: 13px;
  opacity: 0px;
  background-color: #c92071;
  border-radius: 10px;
  border: none;
}

.cadastre {
  width: max-content;
  height: max-content;
  font-size: 13px;
  opacity: 0px;
  background-color: transparent;
  border: 1px solid;
  border-radius: 12px;
} */

.container-navegacao-principal {
  display: flex;
  width: 100%;
}

.navegacao-principal {
  display: flex;
  width: max-content;
  gap: 40px;
}

.link {
  font-size: 13px;
}
.link:focus {
  border-bottom: 1px solid #c92071;
  color: #c92071;
}

.container-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.pi-shopping-cart {
  position: relative;
}
.circuloNotificacao {
  position: absolute;
  right: 0;
  top: 0;
  height: 13px;
}

.menu-mobile {
  display: none;
}

.informations {
  position: absolute;
  font-size: 10px;
  top: 0;
  right: 3px;
  color: gold;
}

.container-user {
  display: flex;
  width: 20%;
  height: max-content;
  padding: 2px;
  gap: 1em;
}

.login2 {
  width: 55%;
  height: 40px;
  background-color: transparent;
  border-radius: 10px;
  border: none;
}

@media (min-width: 100px) and (max-width: 299px) {
  .container-header {
    padding: 10px;
    padding-top: 1em;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  header {
    width: 100%;
    padding: 0;
    justify-content: space-between;
  }
  .logo-header,
  .logo-header img {
    height: 14px;
    font-size: 6px;
  }

  .input {
    width: 50%;
    padding: 0;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .pi-search {
    bottom: 6px;
    right: 6px;
    font-size: 13px;
  }

  input {
    font-size: 13px;
    height: 2em;
    width: 100%;
  }

  .login {
    width: max-content;
    height: max-content;
    padding: 1px 3px;
    display: flex;
    opacity: 0px;
  }

  .container-navegacao-principal {
    width: 100%;
    display: flex;
    height: max-content;
  }

  .navegacao-principal {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
  }

  .link {
    font-size: 10px;
    font-weight: 500;
  }
  .container-user {
    display: none;
    align-items: center;
    gap: 1em;
  }

  .menu-mobile {
    position: absolute;
    right: 0;
    top: 41px;
    font-size: 1em;
    visibility: visible;
    display: flex;
    align-items: center;
    background-color: #c92071;
    border-radius: 10px 0 0 10px;
    width: max-content;
    z-index: 1000;
  }

  .div-menu-mobile {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: 80px;
    width: max-content;
    border-radius: 15px 0 0 15px;
  }
  .menu-mobile {
    visibility: visible;
    height: max-content;
    width: max-content;
  }

  .login2 {
    width: 55%;
    height: 50%;
    background-color: transparent;
    border-radius: 10px;
    border: none;
  }

  .container-open-menu {
    display: flex;
    align-items: center;
    width: max-content;
    height: max-content;
    position: absolute;
    left: 0;
  }

  .pi-times {
    top: -3px;
    left: 5px;
    width: 17px;
    height: 30px;
    font-size: 17px;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    position: absolute;
  }
  .container-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

  .pi-shopping-cart {
    position: relative;
    font-size: 14px;
  }
  .circuloNotificacao {
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    right: 2px;
    top: 2px;
    height: 11px;
  }
}

@media (min-width: 300px) and (max-width: 429px) {
  .container-header {
    padding: 10px;
    padding-top: 1em;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  header {
    width: 100%;
    justify-content: space-between;
  }
  .logo-header,
  .logo-header img {
    height: 16px;
    font-size: 7px;
  }

  .input {
    width: 47%;
    padding: 0;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .pi-search {
    bottom: 6px;
    right: 6px;
    font-size: 13px;
  }

  input {
    font-size: 13px;
    height: 2em;
    width: 100%;
  }

  .login {
    width: max-content;
    height: max-content;
    padding: 1px 3px;
    display: flex;
    opacity: 0px;
  }

  .container-navegacao-principal {
    width: 100%;
    display: flex;
    height: max-content;
  }

  .navegacao-principal {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
  }

  .link {
    font-size: 12px;
  }
  .container-user {
    display: none;
    align-items: center;
    gap: 1em;
  }

  .menu-mobile {
    position: absolute;
    top: 41px;
    right: 0;
    font-size: 1em;
    visibility: visible;
    display: flex;
    align-items: center;
    background-color: #c92071;
    border-radius: 10px 0 0 10px;
    width: max-content;
    z-index: 1000;
  }

  .div-menu-mobile {
    display: flex;
    align-items: flex-end;
    height: 80px;
    flex: content;
    width: max-content;
    border-radius: 15px 0 0 15px;
  }
  .menu-mobile {
    visibility: visible;
    height: max-content;
    width: max-content;
  }

  .login2 {
    width: 55%;
    height: 50%;
    background-color: transparent;
    border-radius: 10px;
    border: none;
  }

  .container-open-menu {
    display: flex;
    align-items: center;
    width: 15px;
    height: 20px;
    position: relative;
  }

  .pi-times {
    top: -3px;
    left: 5px;
    width: 17px;
    height: 30px;
    font-size: 17px;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    position: absolute;
  }

  .container-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1.4em;
    right: 4.9em;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

  .pi-shopping-cart {
    position: relative;
  }
  .circuloNotificacao {
    position: absolute;
    right: 0;
    top: 0;
    height: 13px;
  }
}
@media (min-width: 430px) and (max-width: 899px) {
  .container-header {
    padding: 0.6em;
  }
  header {
    width: 100%;
    padding: 0;
    justify-content: space-between;
  }
  .logo-header,
  .logo-header img {
    height: 16px;
    font-size: 7px;
  }

  .input {
    width: 50%;
    padding: 0;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .pi-search {
    bottom: 6px;
    right: 6px;
    font-size: 13px;
  }

  input {
    font-size: 13px;
    height: 2em;
    width: 100%;
  }

  .login {
    width: max-content;
    height: max-content;
    padding: 1px 3px;
    display: flex;
    opacity: 0px;
  }

  .container-navegacao-principal {
    width: 100%;
    display: flex;
    height: max-content;
    margin-top: 10px;
  }

  .navegacao-principal {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
  }

  .link {
    font-size: 12px;
  }
  .container-user {
    display: none;
    align-items: center;
    gap: 1em;
  }

  .menu-mobile {
    position: absolute;
    right: 0;
    top: 5.3%;
    font-size: 1.2em;
    visibility: visible;
    display: flex;
    align-items: center;
    background-color: #c92071;
    border-radius: 10px 0 0 10px;
    width: max-content;
    z-index: 1000;
  }

  .div-menu-mobile {
    gap: 20px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: 80px;
    width: max-content;
    border-radius: 15px 0 0 15px;
  }
  .menu-mobile {
    visibility: visible;
    height: max-content;
    width: max-content;
  }

  .login2 {
    width: 55%;
    height: 50%;
    background-color: transparent;
    border-radius: 10px;
    border: none;
  }

  .container-open-menu {
    padding: 0 1em;
    display: flex;
    align-items: center;
    width: max-content;
    height: max-content;
    position: relative;
  }

  .pi-bars {
    height: 20px;
    width: 20px;
    display: flex;
    position: absolute;
    right: 1em;
    top: 2em;
    align-items: center;
  }

  .pi-times {
    top: -3px;
    left: 5px;
    width: 17px;
    height: 30px;
    font-size: 17px;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    position: absolute;
  }
}

@media (max-width: 900px) {
  header {
    display: flex;
    width: 100%;
    min-height: 4em;
    align-items: center;
    background-color: #ffffff;
  }

  .container-header {
    padding: 0 0.7em;
    padding-top: 1em;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
  }

  .logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: max-content;
    font-size: 10px;
  }

  .logo-header img {
    height: 4em;
  }

  .input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
  }

  input {
    width: 100%;
    height: 2.6em;
    border-radius: 10px;
    border: none;
    padding: 2px 13px;
    background-color: #f8f8f8;
  }

  input:focus {
    border: 1px solid black;
  }

  .pi-search {
    color: #474747;
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 17px;
    cursor: pointer;
  }

  .container-user {
    display: none;
    align-items: center;
    gap: 1em;
  }

  .div-menu-mobile {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 80px;
    flex-direction: column;
    padding-left: 2em;
    width: max-content;
    border-radius: 15px 0 0 15px;
    gap: 4px;
  }

  .menu-mobile {
    visibility: visible;
    height: max-content;
    width: max-content;
  }

  .login2 {
    width: 55%;
    height: 50%;
    background-color: transparent;
    border-radius: 10px;
    border: none;
  }

  .container-open-menu {
    display: flex;
    align-items: center;
    width: max-content;
    height: max-content;
    position: relative;
  }
  .pi-bars {
    height: 20px;
    width: 20px;
    display: flex;
    position: absolute;
    right: 0.8em;
    top: -1.3em;
    font-size: 1.2em;
    align-items: center;
  }

  .pi-times-circle {
    top: -4px;
    left: 3px;
    width: 19px;
    height: 32px;
    font-size: 17px;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    position: absolute;
  }

  .container-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1.1em;
    right: 4em;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

  .pi-shopping-cart {
    position: relative;
  }
  .circuloNotificacao {
    position: absolute;
    right: 0;
    top: 0;
    height: 13px;
  }
}

@media (min-width: 901px) and (max-width: 1279px) {
  header {
    display: flex;
    width: 100%;
    min-height: 4em;
    align-items: center;
    background-color: #ffffff;
  }

  .container-header {
    padding: 0 2em;
    margin-bottom: 1.9em;
    padding-top: 1em;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .container-navegacao-principal {
    display: flex;
    margin-top: 1.4em;
    width: 100%;
  }

  .navegacao-principal {
    display: flex;
    width: max-content;
    gap: 20px;
  }

  .link {
    font-size: 17px;
    font-weight: 600;
  }

  .logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: max-content;
  }

  .logo-header img {
    height: auto;
  }

  .input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    width: 30em;
    height: 3.2em;
    border-radius: 10px;
    border: none;
    padding: 2px 13px;
    background-color: #f8f8f8;
  }

  .container-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    width: 20%;
  }

  .login {
    width: 40%;
    height: 30px;
    font-size: 13px;
    opacity: 0px;
    background-color: #c92071;
    border-radius: 10px;
    border: none;
  }

  .cadastre {
    width: auto;
    height: max-content;
    padding: 0 3px;
    font-size: 16px;
    text-decoration: underline;
    border: none;
    background-color: transparent;
    border-radius: 12px;
  }

  .login2 {
    width: 50%;
    height: 50%;
    background-color: transparent;
    border-radius: 10px;
    border: none;
  }
}

@media (min-width: 1281px) and (max-width: 1558px) {
  header {
    display: flex;
    width: 100%;
    min-height: 4em;
    align-items: center;
    background-color: #ffffff;
  }

  .container-header {
    padding: 0 2em;
    margin-bottom: 1.9em;
    padding-top: 1em;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .container-navegacao-principal {
    display: flex;
    margin-top: 1.4em;
    width: 100%;
  }

  .navegacao-principal {
    display: flex;
    width: max-content;
    gap: 20px;
  }

  .link {
    font-size: 17px;
    font-weight: 600;
  }

  .logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: max-content;
  }

  .logo-header img {
    height: auto;
  }

  .input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    width: 30em;
    height: 3.2em;
    border-radius: 10px;
    border: none;
    padding: 2px 13px;
    background-color: #f8f8f8;
  }

  .container-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    width: 20%;
  }

  .login {
    width: 40%;
    height: 30px;
    font-size: 13px;
    opacity: 0px;
    background-color: #c92071;
    border-radius: 10px;
    border: none;
  }

  .cadastre {
    width: auto;
    height: max-content;
    padding: 0 3px;
    font-size: 16px;
    text-decoration: underline;
    border: none;
    background-color: transparent;
    border-radius: 12px;
  }

  .login2 {
    width: 50%;
    height: 50%;
    background-color: transparent;
    border-radius: 10px;
    border: none;
  }
}

@media (min-width: 1640px) {
  header {
    width: 100%;
  }

  .input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
  }

  input {
    font-size: 18px;
    width: 40em;
    height: 3.2em;
    border-radius: 10px;
    border: none;
    padding: 2px 13px;
    background-color: #f8f8f8;
  }

  input:focus {
    border: 1px solid black;
  }

  .pi-search {
    color: #474747;
    position: absolute;
    right: 1%;
    bottom: 32%;
    font-size: 22px;
    cursor: pointer;
  }

  .container-user {
    display: flex;
    width: max-content;
    border: 1px solid;
    align-items: center;
  }

  .login {
    width: 80px;
    height: max-content;
    font-size: 13px;
    opacity: 0px;
    background-color: #c92071;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cadastre {
    width: max-content;
    height: max-content;
    font-size: 13px;
    opacity: 0px;
    border: 1px solid;
    border-radius: 12px;
  }

  .container-navegacao-principal {
    display: flex;
    width: 100%;
  }

  .navegacao-principal {
    margin-top: 2em;
    display: flex;
    width: max-content;
    gap: 20px;
  }

  .link {
    font-size: 23px;
  }
  .link:focus {
    border-bottom: 1px solid #c92071;
  }

  .logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: max-content;
    font-size: 19px;
  }

  .logo-header img {
    height: 40px;
    width: 40px;
  }
  .container-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

  .container-cart img {
    height: 13px;
    width: 13px;
  }
  .pi-shopping-cart {
    position: relative;
    font-size: 30px;
  }
}

@media (min-width: 1859px) {
  header {
    width: 100%;
  }

  .input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
  }

  input {
    font-size: 18px;
    width: 46em;
    height: 3.2em;
    border-radius: 10px;
    border: none;
    padding: 2px 13px;
    background-color: #f8f8f8;
  }

  input:focus {
    border: 1px solid black;
  }

  .pi-search {
    color: #474747;
    position: absolute;
    right: 1%;
    bottom: 32%;
    font-size: 22px;
    cursor: pointer;
  }

  .container-user {
    display: flex;
    width: max-content;
    align-items: center;
    gap: 1em;
  }

  .login {
    width: 80px;
    height: 2em;
    font-size: 13px;
    opacity: 0px;
    background-color: #c92071;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cadastre {
    width: max-content;
    height: 2em;
    font-size: 13px;
    opacity: 0px;
    background-color: transparent;
    border: 1px solid;
    border-radius: 12px;
  }

  .container-navegacao-principal {
    display: flex;
    width: 100%;
  }

  .navegacao-principal {
    margin-top: 2em;
    display: flex;
    width: max-content;
    gap: 20px;
  }

  .link {
    font-size: 23px;
  }
  .link:focus {
    border-bottom: 1px solid #c92071;
  }

  .logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: max-content;
    font-size: 19px;
  }

  .logo-header img {
    height: 40px;
    width: 40px;
  }
  .container-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

  .container-cart img {
    height: 13px;
    width: 13px;
  }
  .pi-shopping-cart {
    position: relative;
    font-size: 30px;
  }
}
