.main-content {
  display: flex;
  min-height: 55vh;
  width: 100%;
}

.div-home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
